* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f5a54;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/duck-svg-faded.svg');
  background-position: center;
  background-size: 120px;
}

a {
  text-decoration: none;
}

.button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: #cccccc;
  user-select: none;
}

header {
  padding: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100vmin;
  /* text-align: center; */
}

.company-logo {
  color: #a19c52;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 25px;
  font-family: 'Cinzel Decorative', cursive;
  margin-left: 8px;
}

header h2 {
  font-size: 2rem;
  text-align: center;
}

.info-button-container {
  width: 150px;
  height: 100%;
}

.info-button {
  background-color: #12121218;
  color: #cccccccc;
  font-size: 30px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 250ms, color 250ms;
}

.info-button:hover {
  background-color: #12121236;
  color: #cccccc
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%
}

.round-count {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.voting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 80%;
}

.product-button {
  /* box-sizing: border-box; */
  width: 340px;
  height: 340px;
  margin: 20px;
  padding: 20px;
  background-color: #5c8177a9;
  transition: background-color 250ms, opacity 250ms, box-shadow 250ms;
}

.product-button:hover {
  background-color: #4e6f77;
  box-shadow: 5px 5px 6px 0px #12121212;
}

.product-button.disabled {
  opacity: 50%;
  pointer-events: none;
}

.product-image {
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
  object-fit: contain;
  animation: fade-in 200ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.show-results-button {
  background-color: #7a6f3a;
  font-size: 1.5em;
  opacity: 0;
  transition: background-color 250ms, opacity 250ms;
  margin: 30px;
}

.show-results-button:hover {
  background-color: #7a7049ba;
}

.results-overlay h2 {
  font-size: 2rem;
}

.results-overlay h3 {
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #121212ee;
}

.info-overlay {
  padding: 50px;
}

.results-list-area,
.info-area,
.info-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-area {
  padding: 3rem;
  width: 100vmin;
}

.info-area h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.info-area p {
  font-size: 1.5rem;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 1rem;
}

.info-area .fine-print {
  font-size: .4rem;
  text-align: left;
  font-family: 'Noto Serif', serif;
  margin-bottom: .3rem;
}

.results-list {
  padding: 20px;
  display: grid;
  grid-template-columns: max-content;
}

.results-list>* {
  font-size: 1.4rem;
  width: max-content;
  transition: font-size 250ms;
  margin: auto;
  padding: .3em;
}

.results-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.results-chart-area {
  min-width: 545px;
  width: 80vmin;
  height: 60vmin;
  padding: 20px;
}

.results-chart {
  height: 200px;
}

footer {
  margin-top: auto;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12121248;
}

@media screen and (max-width: 900px) {
  .results-overlay {
    flex-direction: column;
  }

  .results-list {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    width: 80vmin;
  }

  .results-list>* {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .company-logo h1 {
    display: none;
  }

  .info-button-container {
    width: 50px;
  }
}